* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    min-height: 100vh;
    padding: 20px;
}

.project-card {
    border: 1px solid rgb(173, 169, 169);
    border-radius: 5%;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

.project-title {
    margin-bottom: 10px;
}

.project-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-card {
    border: 1px solid rgb(173, 169, 169);
    border-radius: 5%;
}

.todo-content {
    margin: 0;
    padding: 10px;
}

.todo-title {
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    background-color: rgb(214, 214, 210);
}

.add-project-btn {
    height: 30px;
    align-self: flex-end;
}

.delete-todo-btn {
    margin: 0px 10px 5px 10px;
}

.add-todo-btn {
    margin: 0px 10px 5px 10px;
    width: max-content;
}

.low-priority {
    background-color: #b1efc0; /* Light green */
}
.medium-priority {
    background-color: #e6bf84; /* Light yellow */
}
.high-priority {
    background-color: #ea505096; /* Light red */
}

.low-priority button {
    background-color: #86e89f; /* Darker green */
}
.medium-priority button {
    background-color: #e89f55; /* Darker yellow */
}
.high-priority button {
    background-color: #e8111196; /* Darker red */
}